html, body {
	height: 100%;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Haboro Soft', 'Arial', sans-serif;
}

:root {
    --primary-color: #02733f;
    --text-color: #02733f;
    --text-color-lighter: #b7d9ab;
    --secondary-color: #47a647;
    --link-color: #232055;
    --warn-color: #FDD219;
    --danger-color: #FA5456;
    --white: #FFFFFF;
    --off-white: #eae3cf;
    --gray: #A1A1A1;
  }

  .header {
    background-color: var(--text-color-lighter);
    align-items: baseline;
    padding: 24px 0;
    border-bottom: var(--primary-color) 6px solid;
  }


  .body {
    font-family: 'Haboro Soft', 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw 80vw;
    gap: 50px;
    grid-template-areas:
      "header header"
      "nav img-container"
      "footer footer";
  }
  
  .article__heading {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .article__subheading {
    font-size: 1.5rem;
  }
  
  .link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .header {
    background-color: var(--text-color-lighter);
    padding: 24px 0;
    border-bottom: var(--primary-color) 6px solid;
  }
  
  .main-text__link {
    color: var(--link-color);
  }
  
  .menu {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 24px;
  }
  
  .menu__link {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 24px;
    margin-top: 42px;
  }
  
  .menu__logo {
    font-size: 1.5rem;
    color: var(--off-white);
    margin-right: auto;
    text-transform: uppercase;
  }
  
  .body {
    font-family: 'Haboro Soft Ext Book', sans-serif;
    font-style: bold;
    font-weight: 100;
  }


  .webpage {
    font-family: 'Haboro Soft', 'Arial', sans-serif;
    margin: 0;
    font-size: 1.3rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  }

.container {
	position: relative;
	flex-grow: 1;
	margin: auto;
	max-width: 1200px;
	max-height: 1200px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2vmin;
	justify-items: center;
	align-items: center;
}

img {
	z-index: 1;
	grid-column: span 2;
	max-width: 100%;
	margin-bottom: -52%;
	transform: scale(1);
	transition: all .25s;
}

img:nth-child(7n + 1) {
	grid-column: 2 / span 2;
}

img:hover {
	z-index: 2;
	transform: scale(2);
}

.footer {
    margin-top: auto;
    background-color: var(--text-color-lighter);
    text-align: center;
    font-size: small;
    padding: 12px 0 24px;
    color: var(--text-color);
    border-top: var(--primary-color) 6px solid;
  }
  
