html, body {
	height: 100%;
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Haboro Soft', 'Arial', sans-serif;
}

:root {
    --primary-color: #02733f;
    --text-color: #02733f;
    --text-color-lighter: #b7d9ab;
    --secondary-color: #47a647;
    --link-color: #232055;
    --warn-color: #FDD219;
    --danger-color: #FA5456;
    --white: #FFFFFF;
    --off-white: #eae3cf;
    --gray: #A1A1A1;
  }

  .body {
    font-family: 'Haboro Soft', 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20vw 80vw;
    gap: 50px;
    grid-template-areas:
      "header header"
      "nav img-container"
      "footer footer";
  }
  
  .article__heading {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .article__subheading {
    font-size: 1.5rem;
  }
  
  .link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .header {
    background-color: var(--text-color-lighter);
    padding: 24px 0;
    border-bottom: var(--primary-color) 6px solid;
  }
  
  .main-text__link {
    color: var(--link-color);
  }
  
  .menu {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 24px;
  }
  
  .menu__link {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 24px;
    margin-top: 42px;
  }
  
  .menu__logo {
    font-size: 1.5rem;
    color: var(--off-white);
    margin-right: auto;
    text-transform: uppercase;
  }
  
  .body {
    font-family: 'Haboro Soft Ext Book', sans-serif;
    font-style: bold;
    font-weight: 100;
  }


  .webpage {
    font-family: 'Haboro Soft', 'Arial', sans-serif;
    margin: 0;
    font-size: 1.3rem;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    box-shadow: 4px 4px 10px var(--gray);
    background-color: var(--white);
  }
  
  .jumbotron__button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    margin-top: 50%;
    margin-bottom: 10%;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 24px auto;
    box-sizing: border-box;
    padding: 24px 96px 96px;
    margin-bottom: 24px;
    box-shadow: 4px 4px 10px var(--gray);
    background-color: var(--white);
  }

  .box_text {
    max-width: 900px;
    border: var(--text-color-lighter) 6px solid;
    background-color: var(--primary-color);
    padding: 0 24px 48px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    color: #eae3cf;
  }

  .aside {
    padding: 6px 0 12px;
  }
  
  .article__main-text {
    line-height: 1.75;
    margin-bottom: 24px;
  }
  
  .article__image {
    float: left;
    max-width: 350px;
    height: auto;
    margin-right: 24px;
    margin-bottom: 6px;
  }

/* MATT/TAYLOR: any idea how to center the buttons?? */  
  .button {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;
  }

  .list__image1, .list__image2, .list__image3 {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }

  .footer {
    margin-top: auto;
    background-color: var(--text-color-lighter);
    text-align: center;
    font-size: small;
    padding: 12px 0 24px;
    color: var(--text-color);
    border-top: var(--primary-color) 6px solid;

    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a1a1a1' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

  }